extends layout

block content
	h1.detail-title #{post.title}
	p.detail-original-link
		a(href="#{post.url}")
			| Original Article link: #{post.url}
	hr.detail-divider
	div.detail-content!= post.content