/* Fonts */
@sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
@serif: Georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;

/* Colors */
@black: #222;
@gray: #666;
@light-gray: #ddd;
@blue: #2E5894;
@light-blue: #2E5894 + #555;

body {
  font-family: @sans-serif;
  background-color: white;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font-family: @sans-serif;
}

h2 {
	font-family: @sans-serif;
}

h3 {
	font-family: @sans-serif;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

p {
	font-family: @serif;
}

a {
	color: @blue;
	&:visited {
		color: @light-blue;
	}
}

blockquote {
	margin: 15px 0px;
	font-size: 0.9em;
	font-style: italic;
}

.center-align {
	text-align: center;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.nav {
	width: 100%;
	opacity: 80%;
	padding: 6px 0px;
	background-color: @black;
	color: white;
	font-size: 1.2em;
	letter-spacing: 3px;
	text-transform: uppercase;
	cursor: pointer;
}

.container {
	padding: 10px;
	padding-top: 0px;
}

.site-item {
	padding: 10px 0px;	
}

.list-item {
	padding: 3px 0px;
}

.list-item-link {
	margin-bottom: 2px;
	font-size: 1.1em;
}

.list-item-meta {
	font-size: 0.8em;
	color: @gray;
	a {
		color: @gray;
	}
}

.detail-title {
	font-size: 1.8em;
	margin-bottom: 10px;
	margin-top: 15px;
	line-height: 1.2em;
}

.detail-original-link {
	margin-bottom: 20px;
	font-size: 0.8em;
}

.detail-divider {
	border: none;
	border-bottom: 1px solid @gray;
	margin-bottom: 20px;
}

.detail-content {
	padding-bottom: 45px;
	img, video, figure {
		max-width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 0.8em;
	}
	h2 {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	p {
		margin: 12px 0px;
		line-height: 1.35em;
	}
	pre {
		width: 100%;
	}
	li {
		list-style-type: disc;
	}
}






